@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-color: purple;
}

.elementDiv {
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
}

.bookImage {
    width: 50%;
}

.bookCard {
    text-align: center;
}

.bookText {
    font-family: "Playfair Display", serif;
    color: white;
}
